# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#

# Boya Murthy (boyamurthy)
# Bahubali Jain (bpjain2004)
# Florian Coulombel (coulof)
# Utkarsh Dubey (delldubey)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Alexander Hoppe (hoppea2)
# Pooja Prasannakumar (kumarp20)
# Nida Taranum (nidtara)
# Prasanna Muthukumaraswamy (prablr79)
# Trevor Dawe (tdawe)
# Santhosh shekarappa (santhoshhs10)
# Yamunadevi Shanmugam (shanmydell)
# Sushma T S (tssushma)
 

# for all files:
* @boyamurthy @bpjain2004 @coulof @delldubey @francis-nijay @harishp8889 @hoppea2 @kumarp20 @nidtara @prablr79 @tdawe @santhoshhs10 @shanmydell @tssushma
